.hero {
  width: 100%;
}
.hero img {
  width: 100%;
}
.hero h2 {
  padding: 88px 24px;
  text-align: center;
}
.hero-img {
  height: 400px;
  width: 100%;
  background-image: url(../img/Mobile/Homepage/Banner\ homepage.png);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .hero-img {
    background-image: url(../img/Tablet/Homepage/Banner\ tablet.png);
    height: 620px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background-image: url(../img/Desktop/Homepage/Banner.png);
    height: 620px;
  }
}
