@import url(./global.css);
@import url(./header.css);

h2 {
  font-family: var(--main-font-family);
  font-weight: var(--weight-bold);
}

p {
  font-size: 1rem;
  line-height: 1.75rem;
  font-family: var(--main-font-family);
  font-weight: var(--weight-regular);
}
